<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/detailStyle.css">

    <!-- Thêm thư viện Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


    <!-- Thêm thư viện jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Thêm thư viện Slick Slider -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>

<body style="background-color: rgb(30, 30, 30);">
<div class="wrap">
    <div class="bg-header">
        <div class="navbar">
            <div class="logo">
                <b>
                    <a style="text-decoration: none" th:href="@{/showListBlog}"><p
                            style="color: #ff5722;font-size: 25px;">TECH<span
                            style="color: white;">TALK</span></p></a>
                </b>
            </div>
            <div class="wrap-icon d-flex ">
                <div class="icon d-flex justify-content-center aligns-item-center" style="margin-right: 40px;">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-apple"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-solid fa-envelope"></i>
                    <i class="fa-brands fa-pinterest-p"></i>
                    <i class="fa-brands fa-unity"></i>
                    <i class="fa-brands fa-digg"></i>
                </div>
                <div class="user">
                    <i class="fa-solid fa-bell"></i>
                    <a th:href="@{/login}"><i class="fa-solid fa-user"></i></a>
                    <i class="fa-solid fa-right-from-bracket"></i>
                </div>
            </div>
        </div>
        <h1 class="focus-in-expand">CHI TIẾT BÀI VIẾT</h1>
    </div>

    <div th:if="${messComment}" style="position: absolute; top: 0;right: 0" class="toast show" role="alert"
         aria-live="assertive" aria-atomic="true">
        <div class="toast-header d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <i class="fa-regular fa-bell"></i>
                <strong class="me-auto"> THÔNG BÁO </strong>
                <i class="fa-regular fa-bell"></i>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p th:text="${messComment}"></p>
        </div>
    </div>
    <div th:if="${messDelete}" style="position: absolute; top: 0;right: 0" class="toast show" role="alert"
         aria-live="assertive" aria-atomic="true">
        <div class="toast-header d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <i class="fa-regular fa-bell"></i>
                <strong class="me-auto"> THÔNG BÁO </strong>
                <i class="fa-regular fa-bell"></i>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p th:text="${messDelete}"></p>
        </div>
    </div>
</div>
<a th:href="@{/showListBlog}">
    <button class="btn" type="button">Quay lại</button>
</a>
<div class="wrap-news">
    <div class="d-flex justify-content-between">
        <h1>
            <b th:text="${blog.name}"></b>
        </h1>
        <div>
            <!--button xoa blog-->
            <div th:if="${userBlog.email == blog.user.email}">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                        data-target="#exampleModalDelete"
                        th:data-id="${blog.id}" th:data-title="${blog.name}"
                        th:onclick="deleteInfoDeleteBlog(this.getAttribute('data-id'),this.getAttribute('data-title'))">
                    XOÁ
                </button>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                <div th:if="${userBlog.email != blog.user.email}">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#exampleModalDelete"
                            th:data-id="${blog.id}" th:data-title="${blog.name}"
                            th:onclick="deleteInfoDeleteBlog(this.getAttribute('data-id'),this.getAttribute('data-title'))">
                        XOÁ
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="info d-flex justify-content-between">
        <div class="d-flex flex-column">
            <p>Người đăng: <span style="color: #ff5722;" th:text="${userBlog.email}"></span></p>
            <div th:each="c,lop : ${category}">
                <p style="color: #828080; margin-right: 5px;" th:if="${blog.category.id == c.id}">Chủ đề: <span
                        style="color: #ff5722;" th:text="${c.name}"></span></p>
            </div>
        </div>
        <div>
            <p th:text="${blog.getCreationDate()}"> | <span th:text="${blog.comments.size()}"></span></p>
        </div>
    </div>

    <div class="news">
        <p th:text="${blog.type}">
        </p>
    </div>
    <hr style="color: white;">
    <div class="status d-flex justify-content-around">
        <div th:if="${likes.isEmpty()}">
            <a th:href="@{/{idBlog}/{idUser}/likeBlog(idUser = ${userBlog.id}, idBlog = ${blog.id})}">
                <i class="fa-solid fa-heart"></i>
            </a>
        </div>
        <div th:if="${!likes.isEmpty()}">
            <a th:href="@{/{idBlog}/{idUser}/deleteLikeBlog(idUser = ${userBlog.id}, idBlog = ${blog.id})}">
                <i class="fa-solid fa-heart" style="color: #ff5722"></i>
            </a>
        </div>
        <i class="fa-solid fa-bookmark"></i>
        <i class="fa-solid fa-flag"></i>
    </div>


</div>


<div class="wrap-cmt">
    <div th:each="c,loop : ${comment}">
        <div th:if="${c.blog.id == blog.id}">
            <div class="comment">

                <div class="user-info d-flex justify-content-between">

                    <p style="color: #ff5722;" th:text="${c.user.email}"></p>
                    <span sec:authorize="hasRole('ADMIN')">
                    <div th:if="${userBlog.email != blog.user.email}">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal"
                            th:data-id="${c.id}" th:data-idBlogg="${c.blog.getId()}"
                            th:onclick="deleteInfo(this.getAttribute('data-id'),this.getAttribute('data-idBlogg'))">XOÁ</button>
                    </div>
                </span>
                    <span sec:authorize="hasRole('USER')">

                        <div th:if="${c.user.email == userBlog.email}">
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target="#exampleModal"
                                    th:data-id="${c.id}" th:data-idBlogg="${c.blog.getId()}"
                                    th:onclick="deleteInfo(this.getAttribute('data-id'),this.getAttribute('data-idBlogg'))">XOÁ</button>
                        </div>
                </span>
                </div>
                <p class="comment-text" th:text="${c.content}"></p>
                <p class="comment-time" th:text="${c.getDateTime()}"></p>

            </div>
        </div>
    </div>
</div>
<!--delete blog-->
<div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelDelete"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="/delete" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelDelete"><b>XÁC NHẬN XOÁ</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden name="id" id="id">
                    <span>Bạn có muốn xoá </span><span id="deleteName"></span><span>?</span>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn ">Xác Nhận</button>
                    <button type="button" class="btn " data-dismiss="modal">Đóng</button>

                </div>
            </div>
        </form>
    </div>
</div>
<!--delete comment-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="/deleteComment" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>XOÁ COMMENT</b></h5>
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input name="idComment" id="idComment" hidden="hidden">
                    <input name="idBlog" id="idBlog" hidden="hidden">
                    <p>Xác nhận xóa ?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn ">Xác Nhận</button>
                    <button type="button" class="btn " data-dismiss="modal">Đóng</button>

                </div>
            </div>
        </form>
    </div>
</div>
<div class="wrap-cmt">
    <div class="comment">
        <div class="reply-section">
            <form class="comment-form" method="post" th:action="@{/postComment}">
                <h3 style="color: #CCCCCC">Thêm bình luận</h3>
                <div class="mb-3">
                    <input name="id" th:value="${blog.id}" hidden="hidden">
                    <input name="idUser" th:value="${userBlog.getId()}" hidden="hidden">
                    <textarea class="form-control" name="comment" id="commentContent" rows="3" required
                              placeholder="Nhập bình luận..."></textarea>
                </div>
                <button type="submit" class="btn" style="margin: 0">Đăng</button>
            </form>
        </div>
    </div>
</div>
</div>


</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    function deleteInfo(idComment, idBlog) {
        document.getElementById("idComment").value = idComment;
        document.getElementById("idBlog").value = idBlog;
    }

    function deleteInfoDeleteBlog(id, title) {
        document.getElementById("id").value = id;
        document.getElementById("deleteName").innerText = title;
    }
</script>
